<!--     *********    SIMPLE BLACK SOCIAL LINE     *********      -->
<!--
<div class="social-line social-line-big-icons social-line-black">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a href="" class="btn btn-simple btn-just-icon btn-white">
					<i class="fa fa-twitter"></i>
				</a>
			</div>
			<div class="col-md-2">
				<a href="" class="btn btn-simple btn-just-icon btn-white">
					<i class="fa fa-facebook-square"></i>
				</a>
			</div>
			<div class="col-md-2">
				<a href="" class="btn btn-simple btn-just-icon btn-white">
					<i class="fa fa-google-plus"></i>
				</a>
			</div>
			<div class="col-md-2">
				<a href="" class="btn btn-simple btn-just-icon btn-white">
					<i class="fa fa-dribbble"></i>
				</a>
			</div>
			<div class="col-md-2">
				<a href="" class="btn btn-simple btn-just-icon btn-white">
					<i class="fa fa-youtube-play"></i>
				</a>
			</div>
			<div class="col-md-2">
				<a href="" class="btn btn-simple btn-just-icon btn-white">
					<i class="fa fa-instagram"></i>
				</a>
			</div>
		</div>
	</div>
</div>
-->

<!--     *********   SIMPLE BLACK SOCIAL LINE     *********      -->
<!--     *********    BIG WHITE FOOTER V2     *********      -->

<footer class="footer footer-black footer-big">
	<div class="container">

		<div class="content">
			<div class="row">

				<div class="col-md-8">
					<a href=""><h5>NameVault</h5></a>
					<p>Find your name.</p>
					<a class="btn btn-simple" href="https://www.paypal.me/LHirschfeld" target="_blank"><i class="fa fa-paypal"></i> &nbsp;Donate to help keep our site running!</a>
				</div>
				<div class="col-md-2">
					<h5>Games</h5>
					<ul class="links-vertical">
						<li>
							<a href="{% url 'tracker:leagueview' %}">
								League of Legends
							</a>
						</li>
						<li>
							<a href="{% url 'tracker:minecraftview' %}">
								Minecraft
							</a>
						</li>
						<li>
							<a href="{% url 'tracker:runescapeview' %}">
								RuneScape
							</a>
						</li>
						<li>
							<a href="{% url 'tracker:maplestoryview' %}">
								Maplestory
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					<h5>Account</h5>
					<ul class="links-vertical">
						<li>
							<a href="{% url 'tracker:profile' %}">
								Profile
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<hr />
		<div class="copyright pull-center">
			Copyright &copy; <script>document.write(new Date().getFullYear())</script> NameVault All Rights Reserved.
		</div>
	</div>
</footer>

<!--     *********   END BIG WHITE FOOTER v2     *********      -->
