{% extends 'tracker/landingbase.html' %}
{% load staticfiles %}
{% block body %}

<div class="page-header" data-parallax="active" style="background:url({% static 'tracker/img/pattern.png' %});">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Take control of your identity.</h1>
        <p>Get your dream video game name.
          We currently support League of Legends, Minecraft, Runescape, and Maplestory.
          Select one of the icons to the right to get started.</p>
      </div>
      <div class="col-md-6">
        <a href={% url 'tracker:minecraftview' %}><img src="{% static 'tracker/img/gameicons/minecrafticon.png' %}" class="game-icon"></a>
        <a href={% url 'tracker:runescapeview' %}><img src="{% static 'tracker/img/gameicons/runescapeicon.png' %}" class="game-icon"></a>
        <a href={% url 'tracker:maplestoryview' %}><img src="{% static 'tracker/img/gameicons/maplestoryicon.png' %}" class="game-icon"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="main main-raised">
      <div class="container">
        <div class="section text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title">What is NameVault?</h2>
              <h5 class="description">In modern MMOs and other multiplayer
                games, character customization has proven itself to be one of
                the most important components to player experience. If you're
                going to sink five hundred hours into a game, you should feel
                good doing it right? The pinnacle of this comes
                from your characters name. It is the label by which you are
                known throughout the realm and the title through which you
                stake your reputation. It is yours and yours alone.
                <br/><br/>
                Unfortunately, over time the most desired names have been
                taken in popular games. That's where NameVault comes in. By
                allowing users to easily search for name availability across
                multiple servers, and providing free tracking, it can help
                you get the name you deserve.</h5>
              </div>
            </div>
            <div class="features">
              <div class="row">
                <div class="col-md-4">
                  <div class="info">
                    <div class="icon icon-success"><i class=
                      "material-icons">all_inclusive</i></div>
                      <h4 class="info-title">Multi-Game Support</h4>
                      <p>Forget about using a different site for each game.
                        With NameVault you can keep track of desired names for
                        each of the games you play, all in one place.</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="info">
                        <div class="icon icon-info"><i class=
                          "material-icons">lock</i></div>
                          <h4 class="info-title">Personal Vault</h4>
                          <p>Is there a name you've been interested in for
                            a long time? Instead of looking it up over and
                            over, add it to your <i>personal vault.</i></p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="info">
                            <div class="icon icon-danger"><i class=
                              "material-icons">notifications_active</i></div>
                              <h4 class="info-title">Automatic Tracking</h4>
                              <p>Are you interested in a contested name? NameVault
                                will automatically notify you when it becomes
                                available, so you can get an edge on the
                                competition.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                            </div>
                          </div>
{% endblock %}
